@font-face {
    font-family: 'Angas';
    src:url(fonts/angas\ v3\ bold.otf),
        url(fonts/angas\ v3\ bold.ttf);
}

.sr-only {
    position: absolute;    /* Take the element out of the flow */
    width: 1px;            /* Make the element effectively tiny */
    height: 1px;           /* Ensure it doesn’t take up space */
    padding: 0;
    margin: -1px;
    overflow: hidden;      /* Prevent the content from being visible */
    clip: rect(0, 0, 0, 0);/* Completely clip the element from view */
    white-space: nowrap;   /* Prevent the text from wrapping */
    border: 0;
}

.indented{
    text-indent: 2em;
}

body{
    background-color: rgb(27, 27, 27);
    color:white;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: "Angas";
}

.section-1 img, .section-2 img, .section-3 img{
    max-width:80%;
}

.section-1{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 27, 27, .6) 100%),url(images/section-1-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.btn{
    font-family: "Angas";
    background-color: #F1FF2A;
    border-radius: 5em ;
}

.button-arrow{
    width:1.5em;
    height: 1.5em;
    position:relative;

    display: inline-block;

    background-image: url(images/btn-arrow.png);
    background-size:contain;
    background-repeat:no-repeat; 
}

.section-2 h2{
    color:#F1FF2A;
}

.section-2 .image{
    position:relative;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-2 .image:nth-child(1){
    border:1px solid red; 
    background-image: url(images/another-girl.png);
    background-position: top;
}
.section-2 .image:nth-child(2){
    border:1px solid red; 
    background-image: url(images/Kayo.png);
    background-position: top;
}
.section-2 .image:nth-child(3){
    border:1px solid red; 
    background-image: url(images/panda.png);
    background-position: top;
}
.section-2 .image:nth-child(4){
    border:1px solid red; 
    background-image: url(images/asian-girl.png);
    background-position: top;
}
.section-2 .image:nth-child(5){
    border:1px solid red; 
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%), url(images/robo-girl.png);
    background-position: top;
}

.section-2 .image:nth-child(5) h4{
    font-size:0.7em;
}
.section-2 .image:nth-child(5) p{
    font-size:0.5em;
}
.section-2 .image{
    max-width:200px;
    /* width: 200px;  */
    min-height: 300px;
    /* height: 300px;  */

    border-radius: 2em;
}



.section-2 .image a{
    width:1.5em;
    height: 1.5em;
    position:relative;

    background-image: url(images/btn-arrow.png);
    background-size:contain;
    background-repeat:no-repeat;
}

.section-2 .image:last-of-type a{
    width:1.5em;
    height: 1.5em;
    position:relative;

    background-image: url(images/btn-arrow-highlighted.png);
    background-size:contain;
    background-repeat:no-repeat;
}

.section-2 .image:not(:last-child) a{
    top:85%;
}
.section-2 .image:not(:last-child){
    background-color: black; /* Needed for blending */
    background-blend-mode: luminosity; /* Turns it grayscale */
}

.section-3 form input{
    background-color: black;
    color:white;
    border:1px solid rgba(128, 128, 128, 0.1);
    border-radius:5em;
}
.section-3 .row-input{
    background-color: rgb(17, 17, 17);
    border:5px solid rgba(136, 136, 136, 0.1);
    border-radius:5em;
}



/* for Mobile s (inpection mode small mobile size)devices */

@media(min-width:320px){

}

/* for Mobile L (inpection mode large mobile size)devices */

@media(min-width:425px){
  
}

/* for small(sm) devices */

@media(min-width:576px){

}

/* for medium(mm) devices */

@media(min-width:768px){
    .section-1 img, .section-2 img, .section-3 img{
        max-width:50%;
    }
    .section-2 .image {
        min-width: unset;
        max-width: unset;
    }
    .section-2 .image:not(:last-child) a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .section-3 img {
        max-width: 120%; /* Adjust this as needed */
        width: auto;
    }

}

/* for large(lg) devices */

@media(min-width:992px){

}

/* for extra large(xl) devices */

@media(min-width:1200px){

}

/* for extra extra large(xxl) devices */

@media(min-width:1400px){

}
