@font-face {
    font-family: 'Angas';
    src:url(fonts/angas\ v3\ bold.otf),
        url(fonts/angas\ v3\ bold.ttf);
}

body{
    background-color: #181717;
    color:white;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    font-family: "Angas";
}

.section-1 img, .section-2 img, .section-3 img{
    max-width:80%;
}

.section-2 .row .col{
    position:relative;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section-2 .row .col:nth-child(1){
    border:1px solid red; 
    background-image: url(images/another-girl.png);
}
.section-2 .row .col:nth-child(2){
    border:1px solid red; 
    background-image: url(images/Kayo.png);
}
.section-2 .row .col:nth-child(3){
    border:1px solid red; 
    background-image: url(images/panda.png);
}
.section-2 .row .col:nth-child(4){
    border:1px solid red; 
    background-image: url(images/asian-girl.png);
}
.section-2 .row .col:nth-child(5){
    border:1px solid red; 
    background-image: url(images/robo-girl.png);
}
.section-2 .row .col{
    min-width:200px;
    width: 200px; /* Set a fixed width */
    min-height: 300px;
    height: 300px; /* Set a fixed height */

    border-radius: 10%;
}

.section-2 .row .col a{
    width:1.3em;
    height: 1.3em;
    position:absolute;
    top:90%;

    background-image: url(images/btn-arrow.png);
    background-size:contain;
    background-repeat:no-repeat;
}
